################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/K8HelloWorldASPNETWebApp/bin/Release/netcoreapp3.1
